@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script:wght@700&family=Lobster&family=Merriweather:wght@700&family=Mochiy+Pop+P+One&family=Permanent+Marker&display=swap");

:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 60%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section{
  padding: 2rem 9%;
}

/* section :nth-child(even){
  background: #eee;
} */

.btn{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
  margin-left: 18px;
}

.btn:hover{
  background: var(--green);
  letter-spacing: .06rem;
}

header {
  position: fixed;
  top: 0;
  left: 10%;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: centre;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.logo img {
  border-radius: 200%;
  width: 95px;
  margin-left: 46px;
  margin-top: 8px;
}

.logo img{
  position: sticky;
  top: 8px;
}

.navbar {
  padding-left: 270px;
}

.navbar a {
  font-size: 2.3rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem;
  color: var(--light-color);
}

.navbar a.active,
.navbar a:hover {
  color: white;
  background-color: var(--green);
}

.icons i {
  cursor: pointer;
  margin-left: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: vare(--black);
  border-radius: 50%;
  background: #eee;
}

.icons i:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}

.icons #bars {
  display: none;
}

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0,1rem;
  }   

  #search-form .active{
    top: 0;

  }

  #search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
  }

  #search-form #search-box::placeholder{
    color: #eee;
  }

  #search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
  }

  #search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 27px;
    
  }

  #search-form label:hover{
    color: var(--green);
    transform: rotate(30deg);
  }

  #search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
  }

  #search-form #close:hover{
    color: var(--green);
  }

  .home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
    margin-top: -89px;
  }

  .home .home-slider .slide .content{
    flex: 1 1 45rem;
  }

  .home .home-slider .slide .image{
    flex: 1 1 45rem;
  }

  .home .home-slider .slide .image img{
    border-radius: 50%;
    width: 487px;
    margin-left: 107px;
    margin-top: 37px;
    height: 458px;
  }

  .home .home-slider .slide .content span{
    color:var(--green);
    font-size: 25px;
    margin-left: 18px;
  }

  .home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 46px;
    margin-top: 16px;
  }

  .home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 17px;
    padding: .5rem 0;
    line-height: 1.5;
  }

  .home .home-slider .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .home .home-slider .prev{
    color: black;
    font-size: 23px;
    left: 17px;
    border-radius: 3px 0 0 3px;
    margin-top: -14px;
  }

  .home .home-slider .next{
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-top: -14px;
    color: black;
    right: 19px;
    font-size: 23px;
  }

  .home .home-slider .prev:hover, .next:hover{
    background: rgb(177, 151, 7);
    color: white;
  }  

  .dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }

  .dots{
    margin-top: -1004px;
    margin-left: 596px;
  }

  .active, .dot:hover{
    background-color: #717171;
  }

  .fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1;}
  }

  @keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
  }


  

  

























/* media Query */
@media (max-width: 1420px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 0.8rem 1.5rem;
    left: 18%;
  }

  header {
    padding: 2rem;
  }

  .navbar {
    padding-left: 100px;
  }

  .logo img {
    width: 70px;
    margin-left: 82px;
    margin-top: 5px;
  }

  .home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 30px;
    margin-top: 5px;
  }

  .home .home-slider .slide{
    padding-top: 100px;
  }

  .home .home-slider .slide .image img{
    border-radius: 50%;
    width: 468px;
    margin-left: 134px;
    margin-top: 6px;
    height: 436px;
  }

}


@media (max-width: 900px) {
  .icons #bars {
    display: inline-block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 1.7rem;
    background: #eee;
  }

  header {
    left: 57%;
  }

  .icons i {
    margin-left: 0.7rem;
  }

  .logo img {
    margin-left: 100px;
  }

  .home .home-slider .slide .image img{
    border-radius: 50%;
    width: 213px;
    margin-left: 157px;
    margin-top: -1px;
    height: 216px;
  }

}

@media (max-width: 500px){
  .home .home-slider .slide .image img{
      border-radius: 50%;
      width: 172px;
      margin-left: 70px;
      margin-top: 7px;
      height: 168px;
    }
}
  

